p {
    font-family: arial;
    margin-top:0;
    margin-bottom:0;

}


.profile-picture {
    height: 200px;
    width: 200px;
    object-fit: cover;

   
}
.name {
    font-weight:bold;
    margin-top:12px;
    padding-left: 8px;
   


}


.mutual-friends{
    margin-top:8px;
    color: rgb(100,100,100);
    margin-left: 8px;
    margin-bottom: 12px;
    
 }
 .add-friend-button {
    background-color:rgb(24,119,242);
    color:white;
    font-weight:bold;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:6px;
    border:none;
    padding-right: 20px;
    padding-left: 20px;
    font-size:16px;
    margin-left:8px;
    margin-bottom:10px;
 }


 .profile {
    width: 200px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
    margin-left: 10px;
    
    
 }